Projet_Cinema_Client/Projet_Cinema_Client/Service References/ServiceReference14/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/StoreService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="s" nillable="true" type="q1:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="AddResult" nillable="true" type="q2:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="s" nillable="true" type="q3:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="ModifyResult" nillable="true" type="q4:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_list_store">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_list_storeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="get_list_storeResult" nillable="true" type="q5:ArrayOfStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListFilms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListFilmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="getListFilmsResult" nillable="true" type="q6:ArrayOfFilm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>