Projet_Cinema_Client/Projet_Cinema_Client/Service References/ServiceReference8/FilmService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FilmService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/FilmService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/FilmService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/FilmService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/FilmService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wcf_Project_Cinema.Model" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/FilmService/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFilmService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IFilmService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IFilmService_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="IFilmService_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="IFilmService_getOneFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:getOneFilm" />
  </wsdl:message>
  <wsdl:message name="IFilmService_getOneFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOneFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IFilmService_getFilms_InputMessage">
    <wsdl:part name="parameters" element="tns:getFilms" />
  </wsdl:message>
  <wsdl:message name="IFilmService_getFilms_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFilmsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFilmService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmService/Add" message="tns:IFilmService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmService/AddResponse" message="tns:IFilmService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmService/Modify" message="tns:IFilmService_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmService/ModifyResponse" message="tns:IFilmService_Modify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOneFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmService/getOneFilm" message="tns:IFilmService_getOneFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmService/getOneFilmResponse" message="tns:IFilmService_getOneFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFilms">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilmService/getFilms" message="tns:IFilmService_getFilms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilmService/getFilmsResponse" message="tns:IFilmService_getFilms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFilmService" type="tns:IFilmService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IFilmService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/IFilmService/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOneFilm">
      <soap:operation soapAction="http://tempuri.org/IFilmService/getOneFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilms">
      <soap:operation soapAction="http://tempuri.org/IFilmService/getFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilmService">
    <wsdl:port name="BasicHttpBinding_IFilmService" binding="tns:BasicHttpBinding_IFilmService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/FilmService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>