Projet_Cinema_Client/Projet_Cinema_Client/Service References/ServiceReference8/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/FilmService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/FilmService/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="f" nillable="true" type="q1:Film" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="AddResult" nillable="true" type="q2:Film" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="f" nillable="true" type="q3:Film" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="ModifyResult" nillable="true" type="q4:Film" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOneFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOneFilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="getOneFilmResult" nillable="true" type="q5:Film" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFilms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tabId" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFilmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="getFilmsResult" nillable="true" type="q7:ArrayOfFilm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>