Projet_Cinema_Client/Projet_Cinema_Client/Service References/ServiceReference12/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/RentalService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="l" nillable="true" type="q1:Rental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="AddResult" nillable="true" type="q2:Rental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="r" nillable="true" type="q3:Rental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="ModifyResult" nillable="true" type="q4:Rental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListRentals_rendu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListRentals_renduResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="getListRentals_renduResult" nillable="true" type="q5:ArrayOfRental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListRentals_encour">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListRentals_encourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="getListRentals_encourResult" nillable="true" type="q6:ArrayOfRental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListRentals_depasse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListRentals_depasseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" minOccurs="0" name="getListRentals_depasseResult" nillable="true" type="q7:ArrayOfRental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDaysResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>