Projet_Cinema_Client/Projet_Cinema_Client/Service References/ServiceReference11/PaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/PaymentService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/PaymentService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/PaymentService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/PaymentService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wcf_Project_Cinema.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getDays_InputMessage">
    <wsdl:part name="parameters" element="tns:getDays" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getDays_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDaysResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_get_list_paiements_Jour_InputMessage">
    <wsdl:part name="parameters" element="tns:get_list_paiements_Jour" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_get_list_paiements_Jour_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_list_paiements_JourResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_get_list_paiements_Mois_InputMessage">
    <wsdl:part name="parameters" element="tns:get_list_paiements_Mois" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_get_list_paiements_Mois_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_list_paiements_MoisResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_get_list_paiements_Autre_InputMessage">
    <wsdl:part name="parameters" element="tns:get_list_paiements_Autre" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_get_list_paiements_Autre_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_list_paiements_AutreResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/DoWork" message="tns:IPaymentService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/DoWorkResponse" message="tns:IPaymentService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDays">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/getDays" message="tns:IPaymentService_getDays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/getDaysResponse" message="tns:IPaymentService_getDays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_list_paiements_Jour">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/get_list_paiements_Jour" message="tns:IPaymentService_get_list_paiements_Jour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/get_list_paiements_JourResponse" message="tns:IPaymentService_get_list_paiements_Jour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_list_paiements_Mois">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/get_list_paiements_Mois" message="tns:IPaymentService_get_list_paiements_Mois_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/get_list_paiements_MoisResponse" message="tns:IPaymentService_get_list_paiements_Mois_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_list_paiements_Autre">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/get_list_paiements_Autre" message="tns:IPaymentService_get_list_paiements_Autre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/get_list_paiements_AutreResponse" message="tns:IPaymentService_get_list_paiements_Autre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/Add" message="tns:IPaymentService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/AddResponse" message="tns:IPaymentService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/Modify" message="tns:IPaymentService_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/ModifyResponse" message="tns:IPaymentService_Modify_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentService" type="tns:IPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDays">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/getDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_list_paiements_Jour">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/get_list_paiements_Jour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_list_paiements_Mois">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/get_list_paiements_Mois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_list_paiements_Autre">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/get_list_paiements_Autre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port name="BasicHttpBinding_IPaymentService" binding="tns:BasicHttpBinding_IPaymentService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/PaymentService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>