Projet_Cinema_Client/Projet_Cinema_Client/Service References/ServiceRStaff/StaffService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StaffService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/StaffService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/StaffService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/StaffService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Projet_Cinema.Model" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/StaffService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wcf_Project_Cinema.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStaffService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IStaffService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IStaffService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_get_list_staff_InputMessage">
    <wsdl:part name="parameters" element="tns:get_list_staff" />
  </wsdl:message>
  <wsdl:message name="IStaffService_get_list_staff_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_list_staffResponse" />
  </wsdl:message>
  <wsdl:portType name="IStaffService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/DoWork" message="tns:IStaffService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/DoWorkResponse" message="tns:IStaffService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/Add" message="tns:IStaffService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/AddResponse" message="tns:IStaffService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/Update" message="tns:IStaffService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/UpdateResponse" message="tns:IStaffService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_list_staff">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/get_list_staff" message="tns:IStaffService_get_list_staff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/get_list_staffResponse" message="tns:IStaffService_get_list_staff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStaffService" type="tns:IStaffService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IStaffService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IStaffService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IStaffService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_list_staff">
      <soap:operation soapAction="http://tempuri.org/IStaffService/get_list_staff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StaffService">
    <wsdl:port name="BasicHttpBinding_IStaffService" binding="tns:BasicHttpBinding_IStaffService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/StaffService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>